[submodule "external/sdl"]
	path = external/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/vma"]
	path = external/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
